@font-face {
  font-family: 'Geo';
  src: url('../fonts/Geo/Geo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geo';
  src: url('../fonts/Geo/Geo-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Initial state: fully transparent */
  }
  to {
    opacity: 1; /* Final state: fully opaque */
  }
}

html,body {
        margin:0;
        height:100%;
        background:#0b0f18;
        font-family: 'Geo', sans-serif;
}
.ui {
        position:fixed;
        left:12px;
        top:12px;
        font:14px system-ui;
        color :white;
}
.ui input{
        width:220px
}

.title-c {
        display: flex;
        margin-top: calc(4rem + 1vw);
        justify-content: center;
        align-items: center;
        background-color: brown;
}
.title-no-margin {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: brown;
}

.title-t {
        color: white;
        font-size: calc(4rem + 1vw);
        font-family: 'Geo', 'Courier New', Courier, monospace;
        animation: fadeIn 2s ease-in-out forwards;
}